<div class="login-box">
  <h2>Login</h2>
  <form [formGroup]="formGroup" (ngSubmit)="login()">
    <div class="user-box">
      <input type="email" id="inputEmail" class="form-control" formControlName="email">
      <small class="invalid" *ngIf="formGroup.controls['email'].errors?.required && formGroup.controls['email'].touched">El email es requerido</small>
      <small class="invalid" *ngIf="formGroup.controls['email'].errors?.email && formGroup.controls['email'].touched">El formato es invalido</small>
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" formControlName="contraseña">
      <small class="invalid" *ngIf="formGroup.controls['contraseña'].errors?.required && formGroup.controls['contraseña'].touched">La contraseña es requerida</small>
      <label>Password</label>
    </div>
    <button  type="button" [disabled]="formGroup.invalid">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Ingresar
    </button>
    <button type="button" routerLink="/registro" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Registro
    </button>
    <button (click)="accesoRapido()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Acceso Rapido
    </button>
  </form>
</div>