<div class="container-fluid">
    <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image"> 
        <img src="../assets/imagenes/login-registro.jpg" style="width: 50%; position: fixed; height: auto;"/>
      </div>
      <!-- The content half -->
      <div class="col-md-6 bg-light">
        <div class="login d-flex align-items-center py-5">

          <!-- Demo content-->
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-7 mx-auto">
                <!-- Alert ERROR-->
                <div #alertError class="alert alert-danger d-none" role="alert">
                  Lo sentimos! Ocurrio un error
                </div>
                <h3 class="display-4">Inicia sesión</h3>
                <p class="text-muted mb-4">Bienvenido a la Sala de Juegos! Para poder jugar debes iniciar sesión.</p>
                <form>
                  <div class="form-group mb-3">
                    <input id="inputEmail" #userEmail type="email" placeholder="Correo electronico" required="" autofocus=""
                      class="form-control rounded-pill border-0 shadow-sm px-4">
                  </div>
                  <div class="form-group mb-3">
                    <input id="inputPassword" #userPassword type="password" placeholder="Contraseña" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                  </div>
                  <button  type="submit" (click)="login(userEmail.value, userPassword.value)" class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                   >Ingresar</button>
                 
                  <div class="text-center d-flex justify-content-between mt-4">
                    <p>No tienes una cuenta? <a routerLink="/registro" class="">
                        <u>Crear</u></a></p>
                  </div>
                </form>
              </div>
            </div>
          </div><!-- End -->
        </div>
      </div><!-- End -->
    </div>
  </div>