<!-- Menu Agregado -->
<app-menu></app-menu>

<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Quien soy?</h1>
    <p class="lead">Franco Spineti, alumno de la Universidad Tecnológica Nacional Avellaneda.</p>
  </div>
</header>

<section id="trabajo">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Esto es un trabajo práctico</h2>
        <p class="lead">Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre.</p>
      </div>
    </div>
  </div>
</section>

<section id="frogger" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h2>Poner mi juego aca</h2>
        <p class="lead">Descripcion del juego</p>
      </div>
      <div class="col-2">
        <img src="" alt="" style="width:200px">
      </div>

    </div>
  </div>
</section>

<section id="compatibilidad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Como funciona?</h2>
        <div class="row">
              <div class="col">
                <img src="" alt="">
                <p class="lead">Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma.</p>
              </div>
              <div class="col">
                  <img src="" alt="">
                  <p class="lead">Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
              </div>
              <div class="col">
                  <img src="" alt="">
                <p class="lead">Para los sistemas operativos lideres en el mercado del consumo masivo.</p>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Sala de Juegos 2021</p>
  </div>
  <!-- /.container -->
</footer>
