<app-navbar></app-navbar>
<br>
<br>
<br>
<br>


<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Memotest</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <img src="./assets/imagenes/memotest.jpg" class="d-block w-100" alt="...">
        </ul>
        <button type="button"  routerLink="memotest2" class="btn btn-lg btn-block btn-outline-primary">Jugar!</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Piedra,Papel,Tijera</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <img src="./assets/imagenes/pptijera.jpg" class="d-block w-100" alt="...">
        </ul>
        <button type="button" routerLink="ppt" class="btn btn-lg btn-block btn-outline-primary">Jugar!</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Ta Te Ti</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <img src="./assets/imagenes/tateti.jpg" class="d-block w-100" alt="...">
        </ul>
        <button type="button" routerLink="tateti" class="btn btn-lg btn-block btn-outline-primary">Jugar!</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Snake</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <img src="./assets/imagenes/snake.jpg" class="d-block w-100" alt="...">
        </ul>
        <button type="button" routerLink="snake" class="btn btn-lg btn-block btn-outline-primary">Jugar!</button>
      </div>
    </div>
  </div>
</div>