<div class="chatbody h-100">

    <table class="table">
        <tr>
            <td>CHAT GENERAL - SALA DE JUEGOS</td>
        </tr>
    </table>

    <div class="card-body overflow-auto"  #scrollMe
        [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let mensaje of chat">
            <div class="card-text border my-1" [ngClass]="{'border-info rounded-left ml-3 px-3 bg-info': mensaje.usuario == mensaje.usuarios,
      'border-info rounded-right mr-3 px-2 bg-info': mensaje.usuario != mensaje.usuarios}">
                {{mensaje.mensaje}}
                <p class="time-text text-right mb-0">{{mensaje.usuario}} <span
                        class="time-text">{{mensaje.horaEnvio.toMillis() | date:'dd/MM/yyyy h:mm:ss
                        a'}}</span></p>
            </div>
        </div>
    </div>


</div>