<div class="registro-box">
    <h2>Registro</h2>
    <form [formGroup]="formGroupRegistro" (ngSubmit)="crearCuenta()">
      <div class="registro-user-box" style="margin-bottom: 25px;">
        <input type="email" id="inputEmail" class="form-control" formControlName="email">
        <small class="invalid" *ngIf="formGroupRegistro.controls['email'].errors?.required && formGroupRegistro.controls['email'].touched">El email es requerido</small>
        <small class="invalid" *ngIf="formGroupRegistro.controls['email'].errors?.email && formGroupRegistro.controls['email'].touched">El formato es invalido</small>
        <label>Email</label>
      </div>
      <div class="registro-user-box" style="margin-bottom: 25px;">
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" formControlName="contraseña">
        <small class="invalid" *ngIf="formGroupRegistro.controls['contraseña'].errors?.required && formGroupRegistro.controls['contraseña'].touched">La contraseña es requerida</small>
        <label>Password</label>
      </div>
      <button type="submit" [disabled]="formGroupRegistro.invalid" style="width: 318px;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Registrarse
      </button>
      <button routerLink="" style="width: 318px; margin-top: 10px !important;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Volver
      </button>
    </form>
  </div>