<app-navbar></app-navbar>
<header><h1>Ta Te Ti</h1></header>

<div class="row max-w">
    <div class="col-lg-2">
        <section class="lead fw-bold" class="marcador">
            <section class="lead fw-bold" id="ganadosH"></section>
            <section class="lead fw-bold" id="ganadosC"></section>
            <section class="lead fw-bold" id="empate"></section>
        </section>
    </div>
    <div class="col-lg-8">
    <section id="ficha">
        <h3>Elige ficha:</h3><a (click)="eligeFicha('X')">X</a><a (click)="eligeFicha('O')">O</a>
    </section>

    <section id="jugadores">
    <div id="comp"></div><div id="hum"></div>
    </section>

    <section id="turno"></section>

    <section id="tablero">
        <div class="celda" id="ceroCero" (click)="jugadaHumano(this, 0, 0)"></div>
        <div class="celda" id="ceroUno" (click)="jugadaHumano(this, 0,1)"></div>
        <div class="celda" id="ceroDos" (click)="jugadaHumano(this, 0, 2)"></div>
        <div class="celda" id="unoCero" (click)="jugadaHumano(this, 1, 0)"></div>
        <div class="celda" id="unoUno" (click)="jugadaHumano(this, 1, 1)"></div>
        <div class="celda" id="unoDos" (click)="jugadaHumano(this, 1, 2)"></div>
        <div class="celda" id="dosCero" (click)="jugadaHumano(this, 2, 0)"></div>
        <div class="celda" id="dosUno" (click)="jugadaHumano(this, 2, 1)"></div>
        <div class="celda" id="dosDos" (click)="jugadaHumano(this, 2, 2)"></div>
    </section>
</div>
</div>
<app-footer-menu></app-footer-menu>